<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: black;">
  <br><br>
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" [routerLink]="['']"><img src="../assets/images/title.png" alt="..." /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color:blanchedalmond ;">
          MENU
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['']" style="color: blanchedalmond; font-size: 17px; font-style: bold;">| INICIO |</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['acerca']" style="color: blanchedalmond; font-size: 17px; font-style: bold;">| SOBRE NOSOTROS |</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['buscar']" style="color: blanchedalmond; font-size: 17px; font-style: bold;">| BUSCADOR |</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['contactanos']" href="#contact" style="color: blanchedalmond; font-size: 17px; font-style: bold;">| CONTACTANOS |</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="['iniciar']" href="#contact" style="color: blanchedalmond; font-size: 17px; font-style: bold;">| INICIAR SESION |</a></li>
          </ul>
      </div>
  </div>
</nav>