<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br><br><br><br><br>
<section class="content-section" id="portfolio" style="background-image:url(../assets/images/bg.jpg);">
    <div class="slider_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="slider_cont">
                                            <br><br><br>
                                            <h3 style="font-weight: bold;
                                            font-size: 50px;
                                            font-style: italic;
                                            font-variant: small-caps;
                                            font-family: monospace;
                                            text-transform: capitalize;
                                            letter-spacing: 4px;
                                            color: #7c730a;
                                            text-align:center;
                                            word-spacing: 8px">Encuentra los mejores restaurantes facilmente</h3>
                                            <br>
                                            <p style="font-size:25px;
                                            font-family: Roboto;
                                            font-weight: bold;
                                            text-align:center;
                                            text-transform: uppercase;
                                            letter-spacing: 6px;
                                            color: #161516;">Cuidamos tu comida, cuidamos de ti</p>
                                            <!-- <a class="main_bt_border" href="#" style="text-decoration: none;padding: 10px;font-weight: 600;font-size: 20px;color: #ffffff;background-color:black;border-radius: 6px;border: 2px solid black;" >Ordenar ahora</a> -->
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="slider_image full text_align_center">
                                            <br><br>
                                            <img class="img-responsive" src="../assets/images/l.jpg" alt="#" height="100%" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <br><br><br>
                                        <div class="slider_cont">
                                            <h3 style="font-weight: bold;
                                            font-size: 65px;
                                            font-style: italic;
                                            font-variant: small-caps;
                                            font-family: monospace;
                                            text-transform: capitalize;
                                            letter-spacing: 4px;
                                            color: #7c730a;
                                            text-align:center;
                                            word-spacing: 8px">Las especialidades de cada Estado</h3>
                                            <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
                                        </div>
                                    </div>
                                    <div class="col-md-7 full text_align_center">
                                        <div class="slider_image">
                                            <br><br>
                                            <img class="img-responsive" src="../assets/images/taco.jpg" alt="#" height="100%" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <br><br><br>
                                        <div class="slider_cont">
                                            <h3 style="font-weight: bold;
                                            font-size: 65px;
                                            font-style: italic;
                                            font-variant: small-caps;
                                            font-family: monospace;
                                            text-transform: capitalize;
                                            letter-spacing: 4px;
                                            color: #7c730a;
                                            text-align:center;
                                            word-spacing: 8px">Ranking de estrellas</h3>
                                            <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
                                            <p style="font-size:25px;
                                            font-family: Roboto;
                                            font-weight: bold;
                                            text-align:center;
                                            text-transform: uppercase;
                                            letter-spacing: 6px;
                                            color: #161516;">Para que puedas expresar como fue tu experiencia en los lugares que visites</p>
                                        </div>
                                    </div>
                                    <div class="col-md-7 full text_align_center">
                                        <div class="slider_image">
                                            <br><br>
                                            <img class="img-responsive" src="../assets/images/star.png" alt="#" height="100%" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <br><br><br>
                                        <div class="slider_cont">
                                            <h3 style="font-weight: bold;
                                            font-size: 65px;
                                            font-style: italic;
                                            font-variant: small-caps;
                                            font-family: monospace;
                                            text-transform: capitalize;
                                            letter-spacing: 4px;
                                            color: #7c730a;
                                            text-align:center;
                                            word-spacing: 8px">Encuentra los mejores tacos de tu estado en nuestra pagina</h3>
                                            <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
                                        </div>
                                    </div>
                                    <div class="col-md-7 full text_align_center">
                                        <div class="slider_image">
                                            <br><br>
                                            <img class="img-responsive" src="../assets/images/mas.jpg" alt="#" height="100%" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <br><br><br>
                                        <div class="slider_cont">
                                            <h3 style="font-weight: bold;
                                            font-size: 65px;
                                            font-style: italic;
                                            font-variant: small-caps;
                                            font-family: monospace;
                                            text-transform: capitalize;
                                            letter-spacing: 4px;
                                            color: #7c730a;
                                            text-align:center;
                                            word-spacing: 8px">Ademas tienes la opcion de registrar tu negocio</h3>
                                            <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
                                        </div>
                                    </div>
                                    <div class="col-md-7 full text_align_center">
                                        <div class="slider_image">
                                            <br><br>
                                            <img class="img-responsive" src="../assets/images/registro.png" alt="#" height="100%" width="100%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev" >
                            <i class="fa fa-angle-up" style="color: rgba(255, 255, 255, 0); font-size:1px;"></i>
                        </a>
                        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                            <i class="fa fa-angle-down" style="color: rgba(255, 255, 255, 0);font-size:1px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end slider section -->
    <br><br>
    <hr><hr>
    <br><br><br>
    <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0"style="font-weight: bold;
                font-size: 50px;
                font-style: italic;
                font-variant: small-caps;
                font-family: roboto;
                text-transform: capitalize;
                letter-spacing: 4px;
                color: #bb6b21;
                text-align:center;
                word-spacing: 8px">Encuentra todos los lugares que te puedes imaginar</h3>
                <br>
                <h4 class="mb-5" style=" font-family: Lucida Sans Regular;
                font-weight: bold;
                text-align:center;
                text-transform: uppercase;">Asi como las mejores recetas de cocina</h4>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{nombre1}}</div>
                                <p class="mb-0">{{inf}}</p>
                                <p class="mb-0" *ngFor="let item of Mexicanos">{{item.NOMBRE}}</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/images/restaurantMexico.png" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{nombre2}}</div>
                                <p class="mb-0">{{inf}}</p>
                                <p class="mb-0" *ngFor="let item of Cafes">{{item.NOMBRE}}</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/images/restaurante2.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{nombre3}}</div>
                                <p class="mb-0">{{inf}}</p>
                                <p class="mb-0" *ngFor="let item of Mariscos">{{item.NOMBRE}}</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/images/playa.jpg" alt="..." />
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{nombre4}}</div>
                                <p class="mb-0">{{inf}}</p>
                                <p class="mb-0" *ngFor="let item of Italianos">{{item.NOMBRE}}</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../assets/images/rustico.jpg" alt="..." />
                    </a>
                </div>
            </div>
        </div>
        <br><br><br> <br><br><br><br><br><br><br><br>
</section>

    
