<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br><br><br><br><br>
<section class="content-section" id="portfolio" style="background-image:url(../assets/images/bg.jpg);">
    <br>
    <div class="yellow_bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
                <h2>CREA EL PERFIL DE TU RESTAURANTE</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Registre sus Datos para Crear su Perfil</h3></div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-floating mb-3">
                                            <label for="inputEmail">Nombre del Restaurante</label>
                                            <input class="form-control" id="inputEmail" type="text" placeholder="Ej. Gorditas Don Juan" />
                                        </div>
                                        <div class="form-floating mb-3">
                                            <label for="inputEmail">Descripcion</label>
                                          <input class="form-control" id="inputEmail" type="text" placeholder="Ej. Escriba una pequena descrpcion de su restaurante"/>
                                        </div> 
          
                                       <div class="card-header"><h3 class="text-center font-weight-light my-4">Datos de contacto</h3></div>
                                       <br>
                                       <div class="form-floating mb-3">
                                        <label for="inputEmail">Tipo de Restaurante</label>
                                        <input class="form-control" id="inputEmail" type="text" placeholder="(Mejor Vista, Cafe, Lugar Rustico, Mariscos)" />
                                     </div> 
                                     <div class="form-floating mb-3">
                                        <label for="inputEmail">Logo</label>
                                      <input class="form-control" id="inputEmail" type="url" placeholder="Favor de poner URL de su logo" />
                                     </div> 
                                     <div class="card-header"><h3 class="text-center font-weight-light my-4">Credenciales de acceso</h3></div>
                                     <br>
                                     <div class="form-floating mb-3">
                                        <label for="inputEmail">Ciudad</label>
                                      <input class="form-control" id="text" type="email" placeholder="Ej. Mexico" />
                                     </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <label for="inputPassword">Calle</label>
                                                    <input class="form-control" id="inputPassword" type="text" placeholder="Ej. Arboledas" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <label for="inputPasswordConfirm">Fraccionamiento</label>
                                                    <input class="form-control" id="inputPasswordConfirm" type="text" placeholder="Ej. Pulgas Pandas" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <label for="inputEmail">No. Ext</label>
                                          <input class="form-control" id="text" type="email" placeholder="Ej. 123" />
                                         </div>
                                         <div class="form-floating mb-3">
                                            <label for="inputEmail">CP</label>
                                          <input class="form-control" id="text" type="email" placeholder="Ej. 20802" />
                                         </div>
                                         <div class="form-floating mb-3">
                                            <label for="inputEmail">Latitud</label>
                                          <input class="form-control" id="text" type="number"/>
                                         </div>
                                         <div class="form-floating mb-3">
                                            <label for="inputEmail">Longitud</label>
                                          <input class="form-control" id="text" type="number"/>
                                         </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><a class="btn btn-primary btn-block" [routerLink]="['/perfil-Restaurante']">Crear Perfil</a></div>
                                        </div>
                                    </form>
                                                                    
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small" style="text-align: justify;">Al hacer clic en el botón <strong>Crear Perfil</strong> usted acepta que ha leído y está de acuerdo con el Aviso de Privacidad y los Términos y Condiciones para hacer uso del servicio de Localizacion. </div>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        </div>
<br><br>
</section>